* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Playlist Script";
  src: url("../fonts/Playlist\ Script.otf") format("opentype");
}

html {
  height: fit-content;
  /* border: 10px solid green; */
}

:root {
  --bg-color: black;
  --text-white: white;
  --text-yellow: #ffa800;
}

body {
  /* border: 5px solid pink; */
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  position: relative;
}

section {
  /* border: 5px solid rgb(14, 17, 214); */
  height: 100vh;
}



